<h2 class="sub-header"><%= header %> </h2>
<h4 class="sub-header"><%= sub_header %> </h4>
<% if table_rows.size > 0 %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <% column_names.each do |column_name| %>
          <th><%= column_name%></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% table_rows.each do |row| %>
        <tr>
          <% row.each do |column| %>
          <td><%= column %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>

<div class="btn-group col-sm-12">
  <a href="/modify_cluster?name=<%= cluster_name %>" class="btn btn-default btn-success">Scale up  <span class="glyphicon glyphicon-leaf"></span></a>
  <a href="/teardown_cluster?name=<%= cluster_name %>" class="btn btn-default btn-danger pull-right">Tear down  <span class="glyphicon glyphicon-fire"></span></a>
</div>

<!-- for some reason we need a single space in a paragrph to get some padding
between the above button and the body's background -->
<div class="btn-group col-sm-12">
  <p> </p>
</div>
<% end %>
